
{% load static %}
{% load i18n %}



<style>
p.ex1 {
  padding-top: 10%;
}
.letHead{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}
.headword{
    font-size: 22px;
    font-weight: bold;
}
.mainheadword{
    font-size: 22px;
    font-weight: bold;
}
.definition{
    font-size: 20px;
}
.definitionorgloss{
    font-size: 20px;
}
</style>


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}MBCI Dictionary{% endblock %}</title>



</head>
<body>


{% include 'reduced_searchbar.html' %}



{% block content %}

<div class="main-wrapper">
    <section class="cta-section theme-bg-light py-5">
        <div class="container text-center">
            <h2 class="heading">{% trans "Colors" %}</h2>

        </div><!--//container-->
    </section>




    <section class="blog-list px-3 py-5 p-md-5">
    <div class="entry" id="g0439d291-7f7d-4fa9-995b-79df3684033d">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=o̱miláyachih">
      o̱miláyachih
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g0439d291-7f7d-4fa9-995b-79df3684033d">
      <span class="definitionorgloss">
       <span lang="en">
        to dye, color
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g068a1f4b-42d3-4da8-b8c6-c1a97b1f132a">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=lakna">
      lakna
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        adj
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g068a1f4b-42d3-4da8-b8c6-c1a97b1f132a">
      <span class="definitionorgloss">
       <span lang="en">
        yellow
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g11eee4e3-a496-4060-82f7-ba829631297e">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=yoshomáli">
      yoshomáli
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g11eee4e3-a496-4060-82f7-ba829631297e">
      <span class="definitionorgloss">
       <span lang="en">
        brown
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g149f802a-e5ee-4439-b857-47e31f9a3216">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=losakbih">
      losakbih
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g149f802a-e5ee-4439-b857-47e31f9a3216">
      <span class="definitionorgloss">
       <span lang="en">
        to be gray
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g1b6b324b-e088-4af6-ac7f-69acf7feafba">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=okchakkoh">
      okchakkoh
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g1b6b324b-e088-4af6-ac7f-69acf7feafba">
      <span class="definitionorgloss">
       <span lang="en">
        to be blue
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g2a66bf3e-1ab3-4f8d-85c1-05d9cad67cd3">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=losah">
      losah
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g2a66bf3e-1ab3-4f8d-85c1-05d9cad67cd3">
      <span class="definitionorgloss">
       <span lang="en">
        to be black
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g2e5c1b9a-e506-49b2-a150-1a96afe4ff5d">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=losa">
      losa
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        adj
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g2e5c1b9a-e506-49b2-a150-1a96afe4ff5d">
      <span class="definitionorgloss">
       <span lang="en">
        black
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g50e9c51d-c494-4363-b737-d11fd0c1abf8">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=okchamáli">
      okchamáli
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g50e9c51d-c494-4363-b737-d11fd0c1abf8">
      <span class="definitionorgloss">
       <span lang="en">
        green
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g56293b84-6b96-4f35-8707-db694670db9c">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=o̱miláya">
      o̱miláya
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g56293b84-6b96-4f35-8707-db694670db9c">
      <span class="definitionorgloss">
       <span lang="en">
        color
       </span>
      </span>
     </span>
    </span>
   </span>
   <span class="variantformentrybackrefs">
    <span class="variantentrytypes">
     <span class="variantentrytype">
      <span class="abbreviation">
       <span lang="en">
        var.
       </span>
      </span>
     </span>
    </span>
    <span class="variantformentrybackref">
     <span class="headword">
      <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=o̱maláya">
        o̱maláya
       </a>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g5c3b932d-2bb0-4a6e-af74-c277a19f87ec">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=okchamálih">
      okchamálih
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g5c3b932d-2bb0-4a6e-af74-c277a19f87ec">
      <span class="definitionorgloss">
       <span lang="en">
        to be green
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g5f344e82-b8a9-447e-ba71-703df05c536b">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=tohbih">
      tohbih
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g5f344e82-b8a9-447e-ba71-703df05c536b">
      <span class="definitionorgloss">
       <span lang="en">
        to be white
       </span>
      </span>
     </span>
    </span>
   </span>
   <span class="minimallexreferences">
    <span class="minimallexreference">
     <span class="ownertype_abbreviation">
      <span lang="en">
       see
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g6358d534-4fba-4875-9902-e6d1f8057323">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=tohbi">
      tohbi
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        adj
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g6358d534-4fba-4875-9902-e6d1f8057323">
      <span class="definitionorgloss">
       <span lang="en">
        white
       </span>
      </span>
     </span>
    </span>
   </span>
   <span class="minimallexreferences">
    <span class="minimallexreference">
     <span class="ownertype_abbreviation">
      <span lang="en">
       see
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g6bf757c7-6a4a-4d35-9271-18aaaf1bcbee">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=yoshomálih">
      yoshomálih
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        adj
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g6bf757c7-6a4a-4d35-9271-18aaaf1bcbee">
      <span class="definitionorgloss">
       <span lang="en">
        to be brown
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g81d5934d-15b3-4b36-863a-07ee831e242c">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=laknah">
      laknah
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sensenumber">
      1
     </span>
     <span class="sense" entryguid="g81d5934d-15b3-4b36-863a-07ee831e242c">
      <span class="definitionorgloss">
       <span lang="en">
        to be rusty
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sensenumber">
      2
     </span>
     <span class="sense" entryguid="g81d5934d-15b3-4b36-863a-07ee831e242c">
      <span class="definitionorgloss">
       <span lang="en">
        to be yellow
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g85dac183-1576-47e3-9996-552e631332b9">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=hommakbih">
      hommakbih
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g85dac183-1576-47e3-9996-552e631332b9">
      <span class="definitionorgloss">
       <span lang="en">
        to be reddish or pink
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g8ef11734-1e64-4c45-b938-784da9f4983c">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=yoshomáli hata">
      yoshomáli hata
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g8ef11734-1e64-4c45-b938-784da9f4983c">
      <span class="definitionorgloss">
       <span lang="en">
        beige
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g9fe66949-4f85-4032-9ee0-3ea37676d4f4">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=okchakalbih">
      okchakalbih
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g9fe66949-4f85-4032-9ee0-3ea37676d4f4">
      <span class="definitionorgloss">
       <span lang="en">
        to be purple
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="gb6eac753-6932-4612-a613-14f0736ea20e">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=lakna hata">
      lakna hata
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        adj
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gb6eac753-6932-4612-a613-14f0736ea20e">
      <span class="definitionorgloss">
       <span lang="en">
        orange
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="gb86db1ab-7f2b-4292-9a6a-9333c698e1e7">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=okchakalbi">
      okchakalbi
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gb86db1ab-7f2b-4292-9a6a-9333c698e1e7">
      <span class="definitionorgloss">
       <span lang="en">
        purple
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="gb9f2ef52-16e9-4a88-91ab-b958f0ab0c4f">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=hommakbi">
      hommakbi
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        adj
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gb9f2ef52-16e9-4a88-91ab-b958f0ab0c4f">
      <span class="definitionorgloss">
       <span lang="en">
        pink
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="gbb69973c-e68d-4db2-8f94-cd6c6ee25139">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=oklosbi homma">
      oklosbi homma
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gbb69973c-e68d-4db2-8f94-cd6c6ee25139">
      <span class="definitionorgloss">
       <span lang="en">
        maroon, dark reddish, reddish brown
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="gbbf8cd00-078b-429e-9e60-1a6644b5eec8">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=hommah">
      hommah
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gbbf8cd00-078b-429e-9e60-1a6644b5eec8">
      <span class="definitionorgloss">
       <span lang="en">
        to be red
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="gbe177ee0-1dbe-4c65-adf3-a3406a057b2f">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=losakbi">
      losakbi
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        adj
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gbe177ee0-1dbe-4c65-adf3-a3406a057b2f">
      <span class="definitionorgloss">
       <span lang="en">
        gray
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="gc5005c79-96c4-4168-9e8c-6b8d4cf123eb">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=okchakko">
      okchakko
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gc5005c79-96c4-4168-9e8c-6b8d4cf123eb">
      <span class="definitionorgloss">
       <span lang="en">
        blue
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="minorentrycomplex" id="gcf1dac20-7703-4c30-aabc-4882adff5fb2">
   <span class="headword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=yoshomáli hatah">
      yoshomáli hatah
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        adj
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gcf1dac20-7703-4c30-aabc-4882adff5fb2">
      <span class="definitionorgloss">
       <span lang="en">
        to be beige
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="gd3fbd064-b009-40de-9e0b-a133bc7de818">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=homma">
      homma
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        adj
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gd3fbd064-b009-40de-9e0b-a133bc7de818">
      <span class="definitionorgloss">
       <span lang="en">
        red
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="minorentrycomplex" id="gf8aa32f3-3776-4948-82d3-e4ead60382d8">
   <span class="headword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=lakna hatah">
      lakna hatah
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        adj
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gf8aa32f3-3776-4948-82d3-e4ead60382d8">
      <span class="definitionorgloss">
       <span lang="en">
        to be orange
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
    </section>
</div>

{% endblock %}

{% include 'bottombar.html' %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>