
{% load static %}
{% load i18n %}



<style>
p.ex1 {
  padding-top: 10%;
}
.letHead{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}
.headword{
    font-size: 22px;
    font-weight: bold;
}
.mainheadword{
    font-size: 22px;
    font-weight: bold;
}
.definition{
    font-size: 20px;
}
.definitionorgloss{
    font-size: 20px;
}
</style>


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}MBCI Dictionary{% endblock %}</title>



</head>
<body>


{% include 'reduced_searchbar.html' %}



{% block content %}

<div class="main-wrapper">
    <section class="cta-section theme-bg-light py-5">
        <div class="container text-center">
            <h2 class="heading">{% trans "Body parts - eye" %}</h2>

        </div><!--//container-->
    </section>




    <section class="blog-list px-3 py-5 p-md-5">
<div class="minorentryvariant" id="g00fcddd0-c55e-4749-b96d-214f5cc2cd70">
   <span class="headword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=nishkin shali̱kchi">
      nishkin shali̱kchi
     </a>
    </span>
   </span>
   <span class="visiblevariantentryrefs">
    <span class="variantentrytypes">
     <span class="variantentrytype">
      <span class="reverseabbr">
       <span lang="en">
        var. of
       </span>
      </span>
     </span>
    </span>
    <span class="visiblevariantentryref">
     <span class="referencedentries">
      <span class="referencedentry">
       <span class="headword">
        <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=nishkin sali̱hchi">
          nishkin sali̱hchi
         </a>
        </span>
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g17e9573f-eb65-411c-8ab1-74eb830fccc4">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=nishkin hishi">
      nishkin hishi
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g17e9573f-eb65-411c-8ab1-74eb830fccc4">
      <span class="definitionorgloss">
       <span lang="en">
        eyelashes
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="minorentrycomplex" id="g5a4a2667-4d64-49bb-bde0-3587fa8ca3e4">
   <span class="headword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=nishkin ittiyalbi">
      nishkin ittiyalbi
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g5a4a2667-4d64-49bb-bde0-3587fa8ca3e4">
      <span class="definitionorgloss">
       <span lang="en">
        eyelid
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g7c1971d1-c303-48db-9413-1b8ae92687d5">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=nishkin hakshop">
      nishkin hakshop
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g7c1971d1-c303-48db-9413-1b8ae92687d5">
      <span class="definitionorgloss">
       <span lang="en">
        eyelid
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g8918ed43-030e-44ec-bf10-fb0305f7aaed">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=nishkin okchi">
      nishkin okchi
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g8918ed43-030e-44ec-bf10-fb0305f7aaed">
      <span class="definitionorgloss">
       <span lang="en">
        tear, tears
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="gd03c5822-7c3f-441a-ae33-e3ea4624f0c2">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=im osána hishi">
      im osána hishi
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gd03c5822-7c3f-441a-ae33-e3ea4624f0c2">
      <span class="definitionorgloss">
       <span lang="en">
        eyebrows
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="gd5f0498c-3c72-41ac-b1c1-8461c68dd5dc">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=nishkin">
      nishkin
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gd5f0498c-3c72-41ac-b1c1-8461c68dd5dc">
      <span class="definitionorgloss">
       <span lang="en">
        eye
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
    </section>
</div>

{% endblock %}

{% include 'bottombar.html' %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>