
{% load static %}
{% load i18n %}



<style>
p.ex1 {
  padding-top: 10%;
}
.letHead{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}
.headword{
    font-size: 22px;
    font-weight: bold;
}
.mainheadword{
    font-size: 22px;
    font-weight: bold;
}
.definition{
    font-size: 20px;
}
.definitionorgloss{
    font-size: 20px;
}
</style>


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}MBCI Dictionary{% endblock %}</title>



</head>
<body>


{% include 'reduced_searchbar.html' %}



{% block content %}

<div class="main-wrapper">
    <section class="cta-section theme-bg-light py-5">
        <div class="container text-center">
            <h2 class="heading">{% trans "Kinship" %}</h2>

        </div><!--//container-->
    </section>




    <section class="blog-list px-3 py-5 p-md-5">
<div class="entry" id="g00f733ed-b81e-4bcd-9a42-8d8da3e86371">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=afo sipokni">
      afo sipokni
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g00f733ed-b81e-4bcd-9a42-8d8da3e86371">
      <span class="definitionorgloss">
       <span lang="en">
        great-grandfather
       </span>
      </span>
     </span>
    </span>
   </span>
   <span class="variantformentrybackrefs">
    <span class="variantentrytypes">
     <span class="variantentrytype">
      <span class="abbreviation">
       <span lang="en">
        var.
       </span>
      </span>
     </span>
    </span>
    <span class="variantformentrybackref">
     <span class="headword">
      <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=áfo sipokni">
        áfo sipokni
       </a>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g0b9bf74c-7eb8-4358-9ae6-072389cc56c4">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=nakfi">
      nakfi
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g0b9bf74c-7eb8-4358-9ae6-072389cc56c4">
      <span class="definitionorgloss">
       <span lang="en">
        brother (of a woman)
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g1028f1bb-3155-425d-be5e-6ca6655098f7">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=akni">
      akni
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g1028f1bb-3155-425d-be5e-6ca6655098f7">
      <span class="definitionorgloss">
       <span lang="en">
        older brother or sister
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g131d5b79-c8e9-4cae-975a-eb8c7f348e07">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=ishki achaffa">
      ishki achaffa
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g131d5b79-c8e9-4cae-975a-eb8c7f348e07">
      <span class="definitionorgloss">
       <span lang="en">
        maternal aunt, mother’s sister
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g13e310f6-afa4-4633-a3a7-9d0a6596d33f">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=poskos">
      poskos
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g13e310f6-afa4-4633-a3a7-9d0a6596d33f">
      <span class="definitionorgloss">
       <span lang="en">
        little baby (term of endearment)
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g1eabd479-7d31-48b0-8dcd-551bb315e466">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=oshí tik">
      oshí tik
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g1eabd479-7d31-48b0-8dcd-551bb315e466">
      <span class="definitionorgloss">
       <span lang="en">
        daughter
       </span>
      </span>
     </span>
    </span>
   </span>
   <span class="variantformentrybackrefs">
    <span class="variantentrytypes">
     <span class="variantentrytype">
      <span class="abbreviation">
       <span lang="en">
        var.
       </span>
      </span>
     </span>
    </span>
    <span class="variantformentrybackref">
     <span class="headword">
      <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=oshítik">
        oshítik
       </a>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g1f3441c4-0f77-4b9c-ba7f-e542134aa001">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=chokkachaffa">
      chokkachaffa
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g1f3441c4-0f77-4b9c-ba7f-e542134aa001">
      <span class="definitionorgloss">
       <span lang="en">
        family, household, family members who live in the same house
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g209fa3b6-5c21-4f7b-a586-c9513adc63ff">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=i̱ki achaffa">
      i̱ki achaffa
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g209fa3b6-5c21-4f7b-a586-c9513adc63ff">
      <span class="definitionorgloss">
       <span lang="en">
        paternal uncle, father’s brother
       </span>
      </span>
     </span>
    </span>
   </span>
   <span class="variantformentrybackrefs">
    <span class="variantentrytypes">
     <span class="variantentrytype">
      <span class="abbreviation">
       <span lang="en">
        var.
       </span>
      </span>
     </span>
    </span>
    <span class="variantformentrybackref">
     <span class="headword">
      <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=i̱ki achaffah">
        i̱ki achaffah
       </a>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="minorentrycomplex" id="g2a651321-54ed-4a59-a742-4cbbe96155b0">
   <span class="headword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=pohchi">
      pohchi
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g2a651321-54ed-4a59-a742-4cbbe96155b0">
      <span class="definitionorgloss">
       <span lang="en">
        father-in-law
       </span>
      </span>
     </span>
    </span>
   </span>
   <span class="complexformentryrefs">
    <span class="complexformentryref">
     <span class="referencedentries">
      <span class="referencedentry">
       <span class="headword">
        <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=ippohchi">
          ippohchi
         </a>
        </span>
       </span>
       <span class="glossorsummary">
        <span lang="en">
         father-in-law
        </span>
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g311b226b-6edf-481e-a275-0050d0b8052f">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=áyokla">
      áyokla
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g311b226b-6edf-481e-a275-0050d0b8052f">
      <span class="definitionorgloss">
       <span lang="en">
        kin, relation
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g4a38f86d-0e62-4008-ae5b-84a93368f59c">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=pokni sipokni">
      pokni sipokni
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g4a38f86d-0e62-4008-ae5b-84a93368f59c">
      <span class="definitionorgloss">
       <span lang="en">
        great-grandmother
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g4b6f5437-6829-4ee8-9fe0-2ec3b02d54af">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=oshi">
      oshi
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g4b6f5437-6829-4ee8-9fe0-2ec3b02d54af">
      <span class="definitionorgloss">
       <span lang="en">
        son, offspring, egg
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g4ba7fb75-71a7-4754-ab9b-a4f3ea7b5b0d">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=tikba">
      tikba
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sensecontent">
     <span class="sensenumber">
      1
     </span>
     <span class="sense" entryguid="g4ba7fb75-71a7-4754-ab9b-a4f3ea7b5b0d">
      <span class="morphosyntaxanalysis">
       <span class="partofspeech">
        <span lang="en">
         post
        </span>
       </span>
      </span>
      <span class="definitionorgloss">
       <span lang="en">
        in front of, ahead of, forward
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sensenumber">
      2
     </span>
     <span class="sense" entryguid="g4ba7fb75-71a7-4754-ab9b-a4f3ea7b5b0d">
      <span class="morphosyntaxanalysis">
       <span class="partofspeech">
        <span lang="en">
         n
        </span>
       </span>
      </span>
      <span class="definitionorgloss">
       <span lang="en">
        older sibling
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g50ddafa7-d0c7-4ef8-ac93-8efe0c3a5f67">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=iláwíli">
      iláwíli
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g50ddafa7-d0c7-4ef8-ac93-8efe0c3a5f67">
      <span class="definitionorgloss">
       <span lang="en">
        guardian
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g6005084a-6c36-4979-9daa-a52433f44fd5">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=ippohchi">
      ippohchi
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g6005084a-6c36-4979-9daa-a52433f44fd5">
      <span class="definitionorgloss">
       <span lang="en">
        father-in-law
       </span>
      </span>
     </span>
    </span>
   </span>
   <span class="subentries mainentrysubentries">
    <span class="subentry mainentrysubentry">
     <span class="headword">
      <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=pohchi">
        pohchi
       </a>
      </span>
     </span>
     <span class="senses">
      <span class="sharedgrammaticalinfo">
       <span class="morphosyntaxanalysis">
        <span class="partofspeech">
         <span lang="en">
          n
         </span>
        </span>
       </span>
      </span>
      <span class="sensecontent">
       <span class="sense" entryguid="g2a651321-54ed-4a59-a742-4cbbe96155b0">
        <span class="definitionorgloss">
         <span lang="en">
          father-in-law
         </span>
        </span>
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g608a9546-dc66-490a-8961-8ba00472cf9f">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=ishki">
      ishki
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g608a9546-dc66-490a-8961-8ba00472cf9f">
      <span class="definitionorgloss">
       <span lang="en">
        mother
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g687fc67e-eff9-4fd9-8d32-ea58641ff597">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=chokkásha">
      chokkásha
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g687fc67e-eff9-4fd9-8d32-ea58641ff597">
      <span class="definitionorgloss">
       <span lang="en">
        family
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g6880957c-78b7-4a9e-ad53-46eeba6b46b2">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=alak osi">
      alak osi
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g6880957c-78b7-4a9e-ad53-46eeba6b46b2">
      <span class="definitionorgloss">
       <span lang="en">
        brother-in-law
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g6aedf1f1-a613-41f3-8ef3-821c8d1810c1">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=afo">
      afo
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g6aedf1f1-a613-41f3-8ef3-821c8d1810c1">
      <span class="definitionorgloss">
       <span lang="en">
        grandfather
       </span>
      </span>
     </span>
    </span>
   </span>
   <span class="variantformentrybackrefs">
    <span class="variantentrytypes">
     <span class="variantentrytype">
      <span class="abbreviation">
       <span lang="en">
        var.
       </span>
      </span>
     </span>
    </span>
    <span class="variantformentrybackref">
     <span class="headword">
      <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=áfo">
        áfo
       </a>
      </span>
     </span>
    </span>
   </span>
   <span class="subentries mainentrysubentries">
    <span class="subentry mainentrysubentry">
     <span class="headword">
      <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=im áfo">
        im áfo
       </a>
      </span>
     </span>
     <span class="senses">
      <span class="sharedgrammaticalinfo">
       <span class="morphosyntaxanalysis">
        <span class="partofspeech">
         <span lang="en">
          n
         </span>
        </span>
       </span>
      </span>
      <span class="sensecontent">
       <span class="sense" entryguid="gbbaff11f-3f2a-4263-8e0a-cbdfe1d082bc">
        <span class="definitionorgloss">
         <span lang="en">
          his/her grandfather
         </span>
        </span>
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g6d65b54d-5644-4a55-909e-63d076069233">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=hashki">
      hashki
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g6d65b54d-5644-4a55-909e-63d076069233">
      <span class="definitionorgloss">
       <span lang="en">
        my mother
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g71acb5b0-6c74-4975-9420-01970d904fab">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=imo̱baláha">
      imo̱baláha
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g71acb5b0-6c74-4975-9420-01970d904fab">
      <span class="definitionorgloss">
       <span lang="en">
        brother-in-law (of a woman)
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g782a2762-e761-42ae-8917-719b95332a57">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=im álak">
      im álak
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g782a2762-e761-42ae-8917-719b95332a57">
      <span class="definitionorgloss">
       <span lang="en">
        brother-in-law, sister’s husband
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g7c09546e-1f61-4e0b-9431-3256cfd78a55">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=itti̱ kanómi">
      itti̱ kanómi
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g7c09546e-1f61-4e0b-9431-3256cfd78a55">
      <span class="definitionorgloss">
       <span lang="en">
        cousins of each other, relatives of each other
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g7f60b84e-8173-406e-a7cb-c471e7699427">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=ipok nakni">
      ipok nakni
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g7f60b84e-8173-406e-a7cb-c471e7699427">
      <span class="definitionorgloss">
       <span lang="en">
        grandson
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g8218179a-8bab-4528-838a-4f766b436382">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=im álakosi ohóyo">
      im álakosi ohóyo
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g8218179a-8bab-4528-838a-4f766b436382">
      <span class="definitionorgloss">
       <span lang="en">
        sister-in-law, wife’s sister
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g82be7d3e-7fbd-4754-9931-f9d61d0170fa">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=i̱ki toba">
      i̱ki toba
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g82be7d3e-7fbd-4754-9931-f9d61d0170fa">
      <span class="definitionorgloss">
       <span lang="en">
        stepfather
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g85274e7d-ca63-4334-9654-62ed51d3b9ad">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=ippohchi ohóyo">
      ippohchi ohóyo
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g85274e7d-ca63-4334-9654-62ed51d3b9ad">
      <span class="definitionorgloss">
       <span lang="en">
        mother-in-law
       </span>
      </span>
     </span>
    </span>
   </span>
   <span class="subentries mainentrysubentries">
    <span class="subentry mainentrysubentry">
     <span class="headword">
      <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=pohchohóyo">
        pohchohóyo
       </a>
      </span>
     </span>
     <span class="senses">
      <span class="sharedgrammaticalinfo">
       <span class="morphosyntaxanalysis">
        <span class="partofspeech">
         <span lang="en">
          n
         </span>
        </span>
       </span>
      </span>
      <span class="sensecontent">
       <span class="sense" entryguid="ge8165350-0979-4dde-8105-1696d7ac47eb">
        <span class="definitionorgloss">
         <span lang="en">
          mother-in-law
         </span>
        </span>
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g86a42284-d859-49d6-a536-80b8f5771c8c">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=i̱tík">
      i̱tík
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g86a42284-d859-49d6-a536-80b8f5771c8c">
      <span class="definitionorgloss">
       <span lang="en">
        sister (of a male)
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g8942654c-aef6-4b52-b5a5-c1cc518c53b7">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=nakfish">
      nakfish
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g8942654c-aef6-4b52-b5a5-c1cc518c53b7">
      <span class="definitionorgloss">
       <span lang="en">
        younger brother (of a man); younger sister (of a woman)
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="minorentrycomplex" id="g89cec1ea-1365-4087-a42d-8220fda91bb8">
   <span class="headword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=im álakosi">
      im álakosi
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g89cec1ea-1365-4087-a42d-8220fda91bb8">
      <span class="definitionorgloss">
       <span lang="en">
        brother-in-law, wife’s brother
       </span>
      </span>
     </span>
    </span>
   </span>
   <span class="minimallexreferences">
    <span class="minimallexreference">
     <span class="ownertype_abbreviation">
      <span lang="en">
       see
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g8fa20320-7307-4f9b-8c30-cc10bdfa0017">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=ippokni">
      ippokni
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g8fa20320-7307-4f9b-8c30-cc10bdfa0017">
      <span class="definitionorgloss">
       <span lang="en">
        his/her grandmother
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g911ef61b-c335-4ebe-9229-5c0eb8fe4814">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=áyo̱cholóli">
      áyo̱cholóli
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g911ef61b-c335-4ebe-9229-5c0eb8fe4814">
      <span class="definitionorgloss">
       <span lang="en">
        descendant
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g94026e40-6222-4b84-9558-dd87492257b0">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=i̱ki">
      i̱ki
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g94026e40-6222-4b84-9558-dd87492257b0">
      <span class="definitionorgloss">
       <span lang="en">
        (his/her) father
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g945ad7d3-7f4f-43a5-a88b-b91d7310f2e9">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=chishki">
      chishki
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sensecontent">
     <span class="sense" entryguid="g945ad7d3-7f4f-43a5-a88b-b91d7310f2e9">
      <span class="definitionorgloss">
       <span lang="en">
        your mother
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g99cd3a48-5066-4043-b91e-0c78a612a688">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=ittiyápishi">
      ittiyápishi
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g99cd3a48-5066-4043-b91e-0c78a612a688">
      <span class="definitionorgloss">
       <span lang="en">
        sibling, brother, sister
       </span>
      </span>
     </span>
    </span>
   </span>
   <span class="variantformentrybackrefs">
    <span class="variantentrytypes">
     <span class="variantentrytype">
      <span class="abbreviation">
       <span lang="en">
        var.
       </span>
      </span>
     </span>
    </span>
    <span class="variantformentrybackref">
     <span class="headword">
      <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=ittibápishi">
        ittibápishi
       </a>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g9e8a6623-e708-48df-afd9-6b2cbf792f8e">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=hattak">
      hattak
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sensenumber">
      1
     </span>
     <span class="sense" entryguid="g9e8a6623-e708-48df-afd9-6b2cbf792f8e">
      <span class="definitionorgloss">
       <span lang="en">
        man, male person
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sensenumber">
      2
     </span>
     <span class="sense" entryguid="g9e8a6623-e708-48df-afd9-6b2cbf792f8e">
      <span class="definitionorgloss">
       <span lang="en">
        husband
       </span>
      </span>
     </span>
    </span>
   </span>
   <span class="subentries mainentrysubentries">
    <span class="subentry mainentrysubentry">
     <span class="headword">
      <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=hattak shotik misha iya">
        hattak shotik misha iya
       </a>
      </span>
     </span>
     <span class="senses">
      <span class="sharedgrammaticalinfo">
       <span class="morphosyntaxanalysis">
        <span class="partofspeech">
         <span lang="en">
          n
         </span>
        </span>
       </span>
      </span>
      <span class="sensecontent">
       <span class="sense" entryguid="gd2ae11ce-853a-4ef1-bb92-fdb55d3642cb">
        <span class="usages">
         <span class="usage">
          <span class="abbreviation">
           <span lang="en">
            newer
           </span>
          </span>
         </span>
        </span>
        <span class="definitionorgloss">
         <span lang="en">
          astronaut
         </span>
        </span>
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g9f79dc7c-270a-4414-993d-4e6a948e4431">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=nakfish achaffa">
      nakfish achaffa
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g9f79dc7c-270a-4414-993d-4e6a948e4431">
      <span class="definitionorgloss">
       <span lang="en">
        cousin
       </span>
      </span>
     </span>
    </span>
   </span>
   <span class="variantformentrybackrefs">
    <span class="variantentrytypes">
     <span class="variantentrytype">
      <span class="abbreviation">
       <span lang="en">
        var.
       </span>
      </span>
     </span>
    </span>
    <span class="variantformentrybackref">
     <span class="headword">
      <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=nakfish tobah">
        nakfish tobah
       </a>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="ga2c0f6b5-1e16-42c2-b768-aeb43e569480">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=iksa">
      iksa
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="ga2c0f6b5-1e16-42c2-b768-aeb43e569480">
      <span class="definitionorgloss">
       <span lang="en">
        clan, societal class, denomination
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="gb8d820d1-6388-4272-9bd5-fe64d380f32e">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=ibayyi">
      ibayyi
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gb8d820d1-6388-4272-9bd5-fe64d380f32e">
      <span class="definitionorgloss">
       <span lang="en">
        nephew; sister’s son (of a man), brother’s son (of a woman)
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="minorentrycomplex" id="gbbaff11f-3f2a-4263-8e0a-cbdfe1d082bc">
   <span class="headword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=im áfo">
      im áfo
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gbbaff11f-3f2a-4263-8e0a-cbdfe1d082bc">
      <span class="definitionorgloss">
       <span lang="en">
        his/her grandfather
       </span>
      </span>
     </span>
    </span>
   </span>
   <span class="complexformentryrefs">
    <span class="complexformentryref">
     <span class="complexformtypes">
      <span class="complexformtype">
       <span class="reverseabbr">
        <span lang="en">
         Kin. form
        </span>
       </span>
      </span>
     </span>
     <span class="referencedentries">
      <span class="referencedentry">
       <span class="headword">
        <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=afo">
          afo
         </a>
        </span>
       </span>
       <span class="glossorsummary">
        <span lang="en">
         grandfather
        </span>
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="gbca93895-4af5-4a97-b9df-d7d981222241">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=pokni">
      pokni
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sensecontent">
     <span class="sense" entryguid="gbca93895-4af5-4a97-b9df-d7d981222241">
      <span class="definitionorgloss">
       <span lang="en">
        grandmother
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="gc5036f0a-2829-4a0b-932d-f1e6e24ca90c">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
     <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=kanómi">
       kanómi
      </a>
     </span>
     <span lang="cho-x-dupl1" style="font-weight:bold;font-size:58%;position:relative;top:0.3em;">
<a href="http://localhost:8000/en/word?word=1">
       1
      </a>
     </span>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gc5036f0a-2829-4a0b-932d-f1e6e24ca90c">
      <span class="definitionorgloss">
       <span lang="en">
        relative, cousin
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="minorentrycomplex" id="ge8165350-0979-4dde-8105-1696d7ac47eb">
   <span class="headword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=pohchohóyo">
      pohchohóyo
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="ge8165350-0979-4dde-8105-1696d7ac47eb">
      <span class="definitionorgloss">
       <span lang="en">
        mother-in-law
       </span>
      </span>
     </span>
    </span>
   </span>
   <span class="complexformentryrefs">
    <span class="complexformentryref">
     <span class="referencedentries">
      <span class="referencedentry">
       <span class="headword">
        <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=ippohchi ohóyo">
          ippohchi ohóyo
         </a>
        </span>
       </span>
       <span class="glossorsummary">
        <span lang="en">
         mother-in-law
        </span>
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="ge8520f47-76bd-4121-bdcd-4c817834fcca">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=ipok tík">
      ipok tík
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="ge8520f47-76bd-4121-bdcd-4c817834fcca">
      <span class="definitionorgloss">
       <span lang="en">
        granddaughter
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="gecbdeaac-133a-46a5-9f31-414349084c89">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=lakós">
      lakós
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gecbdeaac-133a-46a5-9f31-414349084c89">
      <span class="definitionorgloss">
       <span lang="en">
        name to address brother-in-law
       </span>
      </span>
     </span>
    </span>
   </span>
   <span class="minimallexreferences">
    <span class="minimallexreference">
     <span class="ownertype_abbreviation">
      <span lang="en">
       see
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="gf6912404-303d-4e47-af12-6f420bdae8c9">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=ibbi tík">
      ibbi tík
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gf6912404-303d-4e47-af12-6f420bdae8c9">
      <span class="definitionorgloss">
       <span lang="en">
        niece; sister’s daughter (of a man), brother’s daughter (of a woman)
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="gfa99a8dd-8517-4cfb-af4e-e52a58965528">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=ishki toba">
      ishki toba
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gfa99a8dd-8517-4cfb-af4e-e52a58965528">
      <span class="definitionorgloss">
       <span lang="en">
        stepmother
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
    </section>
</div>

{% endblock %}

{% include 'bottombar.html' %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>