<!--ordinal and cardinal-->


{% load static %}
{% load i18n %}



<style>
p.ex1 {
  padding-top: 10%;
}
.letHead{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}
.headword{
    font-size: 22px;
    font-weight: bold;
}
.mainheadword{
    font-size: 22px;
    font-weight: bold;
}
.definition{
    font-size: 20px;
}
.definitionorgloss{
    font-size: 20px;
}
</style>


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}MBCI Dictionary{% endblock %}</title>



</head>
<body>


{% include 'reduced_searchbar.html' %}



{% block content %}

<div class="main-wrapper">
    <section class="cta-section theme-bg-light py-5">
        <div class="container text-center">
            <h2 class="heading">{% trans "Numbers" %}</h2>

        </div><!--//container-->
    </section>




    <section class="blog-list px-3 py-5 p-md-5">
        <h1>Cardinal numbers</h1>
        <h1>Ordinal numbers</h1>
        <div class="entry" id="g04d78956-289d-4b07-a6c2-895ece6a0d92">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=hannálih">
      hannálih
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g04d78956-289d-4b07-a6c2-895ece6a0d92">
      <span class="definitionorgloss">
       <span lang="en">
        six, to be six
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  None
  <div class="entry" id="g08b6f890-291a-488c-bb28-8b4b94ea0c1d">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=tohchínah">
      tohchínah
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g08b6f890-291a-488c-bb28-8b4b94ea0c1d">
      <span class="definitionorgloss">
       <span lang="en">
        three, to be three
       </span>
      </span>
     </span>
    </span>
   </span>
   <span class="variantformentrybackrefs">
    <span class="variantentrytypes">
     <span class="variantentrytype">
      <span class="abbreviation">
       <span lang="en">
        var.
       </span>
      </span>
     </span>
    </span>
    <span class="variantformentrybackref">
     <span class="headword">
      <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=tochchínah">
        tochchínah
       </a>
      </span>
     </span>
    </span>
   </span>
   <span class="subentries mainentrysubentries">
    <span class="subentry mainentrysubentry">
     <span class="headword">
      <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=isht tohchínah">
        isht tohchínah
       </a>
      </span>
     </span>
     <span class="senses">
      <span class="sensecontent">
       <span class="sense" entryguid="g2dca0b0a-796f-4116-aa56-9e715bdebd4f">
        <span class="definitionorgloss">
         <span lang="en">
          to be three from (a certain point)
         </span>
        </span>
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  None
  <div class="entry" id="g2e598f46-9f90-4888-a6db-5f3b2acc40c8">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=atohchínah">
      atohchínah
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sensecontent">
     <span class="sense" entryguid="g2e598f46-9f90-4888-a6db-5f3b2acc40c8">
      <span class="definitionorgloss">
       <span lang="en">
        third, to be third
       </span>
      </span>
     </span>
    </span>
   </span>
   <span class="subentries mainentrysubentries">
    <span class="subentry mainentrysubentry">
     <span class="headword">
      <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=isht atohchínah">
        isht atohchínah
       </a>
      </span>
     </span>
     <span class="senses">
      <span class="sensecontent">
       <span class="sense" entryguid="g80a6be4d-6363-43e2-8df7-b89f3c922dde">
        <span class="definitionorgloss">
         <span lang="en">
          to be third of (a group)
         </span>
        </span>
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g41aac0a8-2c0e-49e8-8dc2-382f45e2d3a7">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=tokloh">
      tokloh
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g41aac0a8-2c0e-49e8-8dc2-382f45e2d3a7">
      <span class="definitionorgloss">
       <span lang="en">
        two, to be two
       </span>
      </span>
     </span>
    </span>
   </span>
   <span class="variantformentrybackrefs">
    <span class="variantentrytypes">
     <span class="variantentrytype">
      <span class="abbreviation">
       <span lang="en">
        var.
       </span>
      </span>
     </span>
    </span>
    <span class="variantformentrybackref">
     <span class="headword">
      <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=to̱klo">
        to̱klo
       </a>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g50565e16-451f-474a-a59b-0dde8fe1ac63">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=pokóli tahlhápih">
      pokóli tahlhápih
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g50565e16-451f-474a-a59b-0dde8fe1ac63">
      <span class="definitionorgloss">
       <span lang="en">
        fifty, to be fifty
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g592eb91b-acc5-4584-88b8-abac2040d6c5">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=talhípa sipokni">
      talhípa sipokni
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g592eb91b-acc5-4584-88b8-abac2040d6c5">
      <span class="definitionorgloss">
       <span lang="en">
        thousand (usually followed by a number)
       </span>
      </span>
     </span>
    </span>
   </span>
   <span class="subentries mainentrysubentries">
    <span class="subentry mainentrysubentry">
     <span class="headword">
      <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=talhípa sipokni achaffah">
        talhípa sipokni achaffah
       </a>
      </span>
     </span>
     <span class="senses">
      <span class="sharedgrammaticalinfo">
       <span class="morphosyntaxanalysis">
        <span class="partofspeech">
         <span lang="en">
          v
         </span>
        </span>
       </span>
      </span>
      <span class="sensecontent">
       <span class="sense" entryguid="g9cf94465-a4cf-4389-b187-cadf72c13f26">
        <span class="definitionorgloss">
         <span lang="en">
          one thousand
         </span>
        </span>
       </span>
      </span>
     </span>
    </span>
    <span class="subentry mainentrysubentry">
     <span class="headword">
      <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=talhípa sipokni pokkólih">
        talhípa sipokni pokkólih
       </a>
      </span>
     </span>
     <span class="senses">
      <span class="sharedgrammaticalinfo">
       <span class="morphosyntaxanalysis">
        <span class="partofspeech">
         <span lang="en">
          v
         </span>
        </span>
       </span>
      </span>
      <span class="sensecontent">
       <span class="sense" entryguid="gc54736cf-e39a-47b3-adfc-48acc1711d2a">
        <span class="definitionorgloss">
         <span lang="en">
          ten thousand
         </span>
        </span>
       </span>
      </span>
     </span>
    </span>
    <span class="subentry mainentrysubentry">
     <span class="headword">
      <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=talhípa sipokni talhípa achaffah">
        talhípa sipokni talhípa achaffah
       </a>
      </span>
     </span>
     <span class="senses">
      <span class="sharedgrammaticalinfo">
       <span class="morphosyntaxanalysis">
        <span class="partofspeech">
         <span lang="en">
          v
         </span>
        </span>
       </span>
      </span>
      <span class="sensecontent">
       <span class="sense" entryguid="g05d6e8a5-5afb-4c7e-8f8f-94cb3beb474b">
        <span class="definitionorgloss">
         <span lang="en">
          one hundred thousand
         </span>
        </span>
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g60dc183c-1ce5-4b05-878f-f60cd33e9938">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=abih chakkálih">
      abih chakkálih
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g60dc183c-1ce5-4b05-878f-f60cd33e9938">
      <span class="definitionorgloss">
       <span lang="en">
        nineteen, to be nineteen
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="minorentrycomplex" id="g60f94a18-dba8-48be-8782-37e1adb3b9be">
   <span class="headword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=talhípa sipokni bát talhípa sipokni">
      talhípa sipokni bát talhípa sipokni
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g60f94a18-dba8-48be-8782-37e1adb3b9be">
      <span class="definitionorgloss">
       <span lang="en">
        million (thousand times a thousand)
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g645f98b9-f424-4e46-8ca6-f585619a307d">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=awah hannálih">
      awah hannálih
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g645f98b9-f424-4e46-8ca6-f585619a307d">
      <span class="definitionorgloss">
       <span lang="en">
        sixteen, to be sixteen
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g6afad786-5951-479a-bd1e-2ba99bcfb172">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=awah tokloh">
      awah tokloh
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g6afad786-5951-479a-bd1e-2ba99bcfb172">
      <span class="definitionorgloss">
       <span lang="en">
        twelve, to be twelve
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g6dd0e01c-6708-4510-9197-9e609e6a1b8c">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=pokóli tokloh">
      pokóli tokloh
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g6dd0e01c-6708-4510-9197-9e609e6a1b8c">
      <span class="definitionorgloss">
       <span lang="en">
        twenty, to be twenty
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g70a63491-35b4-46d8-9ab4-dd6147e32604">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=o̱tokloh">
      o̱tokloh
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g70a63491-35b4-46d8-9ab4-dd6147e32604">
      <span class="definitionorgloss">
       <span lang="en">
        seven, to be seven
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g70bebb14-b5b2-4771-abcf-25b7bca0abb5">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=awah tohchínah">
      awah tohchínah
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g70bebb14-b5b2-4771-abcf-25b7bca0abb5">
      <span class="definitionorgloss">
       <span lang="en">
        thirteen, to be thirteen
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g74e169c5-8330-451f-9e20-b3f5097dcd24">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=awah o̱tokloh">
      awah o̱tokloh
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g74e169c5-8330-451f-9e20-b3f5097dcd24">
      <span class="definitionorgloss">
       <span lang="en">
        seventeen, to be seventeen
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g775b97fe-814c-42ef-8a72-20ff22efb849">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=pokkólih">
      pokkólih
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g775b97fe-814c-42ef-8a72-20ff22efb849">
      <span class="definitionorgloss">
       <span lang="en">
        ten, to be ten
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g8a49e817-92b2-42d5-97e5-70d576559483">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=awah oshtah">
      awah oshtah
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g8a49e817-92b2-42d5-97e5-70d576559483">
      <span class="definitionorgloss">
       <span lang="en">
        fourteen, to be fourteen
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g8eaf6133-6361-4828-9f89-6a7bba9b3820">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=pokóli o̱tohchi̱nah">
      pokóli o̱tohchi̱nah
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g8eaf6133-6361-4828-9f89-6a7bba9b3820">
      <span class="definitionorgloss">
       <span lang="en">
        eighty, to be eighty
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g911d1b11-e847-4cf3-99ba-2bf02d692ac2">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=oshtah">
      oshtah
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g911d1b11-e847-4cf3-99ba-2bf02d692ac2">
      <span class="definitionorgloss">
       <span lang="en">
        four, to be four
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g91e5e485-b135-478d-a0a3-23824112303c">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=pokóli toklo akotcha tokloh">
      pokóli toklo akotcha tokloh
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g91e5e485-b135-478d-a0a3-23824112303c">
      <span class="definitionorgloss">
       <span lang="en">
        twenty-two, to be twenty-two
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g9266f987-5d84-4e16-81cd-1f56f16013e6">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=chakkálih">
      chakkálih
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g9266f987-5d84-4e16-81cd-1f56f16013e6">
      <span class="definitionorgloss">
       <span lang="en">
        nine, to be nine
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g988b9690-f05d-4b4c-89b7-e9964b14148d">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=pokóli tohchínah">
      pokóli tohchínah
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g988b9690-f05d-4b4c-89b7-e9964b14148d">
      <span class="definitionorgloss">
       <span lang="en">
        thirty, to be thirty
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  None
  <div class="entry" id="g9cfdad17-54f3-492c-969d-f7d44259007f">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=talhípa">
      talhípa
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g9cfdad17-54f3-492c-969d-f7d44259007f">
      <span class="definitionorgloss">
       <span lang="en">
        hundred (usually followed by a number)
       </span>
      </span>
      <span class="subentries mainentrysubentries">
       <span class="subentry mainentrysubentry">
        <span class="headword">
         <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=talhípa achaffa">
           talhípa achaffa
          </a>
         </span>
        </span>
        <span class="senses">
         <span class="sharedgrammaticalinfo">
          <span class="morphosyntaxanalysis">
           <span class="partofspeech">
            <span lang="en">
             v
            </span>
           </span>
          </span>
         </span>
         <span class="sensecontent">
          <span class="sense" entryguid="g230e9d1f-77bb-41a9-85f5-de12816f3245">
           <span class="definitionorgloss">
            <span lang="en">
             one hundred
            </span>
           </span>
          </span>
         </span>
        </span>
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="minorentrycomplex" id="gabbd5c96-3cb0-4a6e-a357-bd6b3e7d3a84">
   <span class="headword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=isht atoklah">
      isht atoklah
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sensecontent">
     <span class="sense" entryguid="gabbd5c96-3cb0-4a6e-a357-bd6b3e7d3a84">
      <span class="definitionorgloss">
       <span lang="en">
        to be second of (kids in a family, etc.)
       </span>
      </span>
     </span>
    </span>
   </span>
   <span class="complexformentryrefs">
    <span class="complexformentryref">
     <span class="referencedentries">
      <span class="referencedentry">
       <span class="headword">
        <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=atoklah">
          atoklah
         </a>
        </span>
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="gac3aead0-c1ec-4d4e-9413-b8f9925f8f6a">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=achaffah">
      achaffah
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gac3aead0-c1ec-4d4e-9413-b8f9925f8f6a">
      <span class="definitionorgloss">
       <span lang="en">
        one, to be one, be the same
       </span>
      </span>
     </span>
    </span>
   </span>
   <span class="subentries mainentrysubentries">
    <span class="subentry mainentrysubentry">
     <span class="headword">
      <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=áyachaffah">
        áyachaffah
       </a>
      </span>
     </span>
     <span class="senses">
      <span class="sharedgrammaticalinfo">
       <span class="morphosyntaxanalysis">
        <span class="partofspeech">
         <span lang="en">
          v
         </span>
        </span>
       </span>
      </span>
      <span class="sensecontent">
       <span class="sense" entryguid="ga52014ca-0240-4db2-a8eb-7319cf7dc120">
        <span class="definitionorgloss">
         <span lang="en">
          to be one of (a group, family)
         </span>
        </span>
       </span>
      </span>
     </span>
    </span>
    <span class="subentry mainentrysubentry">
     <span class="headword">
      <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=ibá achaffah">
        ibá achaffah
       </a>
      </span>
     </span>
     <span class="senses">
      <span class="sharedgrammaticalinfo">
       <span class="morphosyntaxanalysis">
        <span class="partofspeech">
         <span lang="en">
          v
         </span>
        </span>
       </span>
      </span>
      <span class="sensecontent">
       <span class="sense" entryguid="g8fb6e17a-baf0-458e-a7df-d9073011fe7d">
        <span class="definitionorgloss">
         <span lang="en">
          to be as one with
         </span>
        </span>
       </span>
      </span>
     </span>
     <span class="subentries mainentrysubentries">
      <span class="subentry mainentrysubentry">
       <span class="headword">
        <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=ittibá achaffah">
          ittibá achaffah
         </a>
        </span>
       </span>
       <span class="senses">
        <span class="sharedgrammaticalinfo">
         <span class="morphosyntaxanalysis">
          <span class="partofspeech">
           <span lang="en">
            v
           </span>
          </span>
         </span>
        </span>
        <span class="sensecontent">
         <span class="sense" entryguid="ge3278f2f-cff2-4402-bee3-423e9a2e4ead">
          <span class="definitionorgloss">
           <span lang="en">
            to be as one together
           </span>
          </span>
         </span>
        </span>
       </span>
      </span>
     </span>
    </span>
    <span class="subentry mainentrysubentry">
     <span class="headword">
      <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=im achaffah">
        im achaffah
       </a>
      </span>
     </span>
     <span class="senses">
      <span class="sharedgrammaticalinfo">
       <span class="morphosyntaxanalysis">
        <span class="partofspeech">
         <span lang="en">
          v
         </span>
        </span>
       </span>
      </span>
      <span class="sensecontent">
       <span class="sense" entryguid="gce4f4849-685c-4854-9527-5bfabda0960d">
        <span class="definitionorgloss">
         <span lang="en">
          to have one
         </span>
        </span>
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="gb63eacca-732c-45a3-be6a-737dd3bd7c23">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=awah tahlhápih">
      awah tahlhápih
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gb63eacca-732c-45a3-be6a-737dd3bd7c23">
      <span class="definitionorgloss">
       <span lang="en">
        fifteen, to be fifteen
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="gbbecb2b5-bd33-4f07-af0e-6c460a6d737b">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=tahlhápih">
      tahlhápih
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gbbecb2b5-bd33-4f07-af0e-6c460a6d737b">
      <span class="definitionorgloss">
       <span lang="en">
        five, to be five
       </span>
      </span>
     </span>
    </span>
   </span>
   <span class="variantformentrybackrefs">
    <span class="variantentrytypes">
     <span class="variantentrytype">
      <span class="abbreviation">
       <span lang="en">
        var.
       </span>
      </span>
     </span>
    </span>
    <span class="variantformentrybackref">
     <span class="headword">
      <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=talhlhápih">
        talhlhápih
       </a>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="gc13af752-f72c-4f73-8160-ce6330c80680">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=pokóli chakkálih">
      pokóli chakkálih
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gc13af752-f72c-4f73-8160-ce6330c80680">
      <span class="definitionorgloss">
       <span lang="en">
        ninety, to be ninety
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  None
  <div class="entry" id="gc7888147-889d-4d8a-b875-c765a190302b">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=pokóli o̱tokloh">
      pokóli o̱tokloh
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gc7888147-889d-4d8a-b875-c765a190302b">
      <span class="definitionorgloss">
       <span lang="en">
        seventy, to be seventy
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="gdd7bd10a-c26a-494d-80ed-3713daaafdc5">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=pokóli oshtah">
      pokóli oshtah
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gdd7bd10a-c26a-494d-80ed-3713daaafdc5">
      <span class="definitionorgloss">
       <span lang="en">
        forty, to be forty
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="geae4c837-3f68-4e7c-bfce-5b0c7ff24149">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=ammónah">
      ammónah
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="geae4c837-3f68-4e7c-bfce-5b0c7ff24149">
      <span class="definitionorgloss">
       <span lang="en">
        to be first
       </span>
      </span>
     </span>
    </span>
   </span>
   <span class="minimallexreferences">
    <span class="minimallexreference">
     <span class="ownertype_abbreviation">
      <span lang="en">
       see
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="gf2b8402e-fe1d-4c56-9530-cc719196935b">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=atoklah">
      atoklah
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gf2b8402e-fe1d-4c56-9530-cc719196935b">
      <span class="definitionorgloss">
       <span lang="en">
        to be second
       </span>
      </span>
     </span>
    </span>
   </span>
   <span class="subentries mainentrysubentries">
    <span class="subentry mainentrysubentry">
     <span class="headword">
      <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=isht atoklah">
        isht atoklah
       </a>
      </span>
     </span>
     <span class="senses">
      <span class="sensecontent">
       <span class="sense" entryguid="gabbd5c96-3cb0-4a6e-a357-bd6b3e7d3a84">
        <span class="definitionorgloss">
         <span lang="en">
          to be second of (kids in a family, etc.)
         </span>
        </span>
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="gf482116b-4982-42a6-b8d8-b0b4f88d4bab">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=awah o̱tohchínah">
      awah o̱tohchínah
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gf482116b-4982-42a6-b8d8-b0b4f88d4bab">
      <span class="definitionorgloss">
       <span lang="en">
        eighteen, to be eighteen
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="gfc930d8b-107c-4580-a4d0-3336944c14ad">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=awah achaffah">
      awah achaffah
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gfc930d8b-107c-4580-a4d0-3336944c14ad">
      <span class="definitionorgloss">
       <span lang="en">
        eleven, to be eleven
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="gfe671161-802d-4d12-b619-3f02ad1d605d">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=pokóli toklo akotcha achaffah">
      pokóli toklo akotcha achaffah
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gfe671161-802d-4d12-b619-3f02ad1d605d">
      <span class="definitionorgloss">
       <span lang="en">
        twenty-one, to be twenty-one
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
    </section>
</div>

{% endblock %}

{% include 'bottombar.html' %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>