
{% load static %}
{% load i18n %}



<style>
p.ex1 {
  padding-top: 10%;
}
.letHead{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}
.headword{
    font-size: 22px;
    font-weight: bold;
}
.mainheadword{
    font-size: 22px;
    font-weight: bold;
}
.definition{
    font-size: 20px;
}
.definitionorgloss{
    font-size: 20px;
}
</style>


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}MBCI Dictionary{% endblock %}</title>



</head>
<body>


{% include 'reduced_searchbar.html' %}



{% block content %}

<div class="main-wrapper">
    <section class="cta-section theme-bg-light py-5">
        <div class="container text-center">
            <h2 class="heading">{% trans "Shapes" %}</h2>

        </div><!--//container-->
    </section>




    <section class="blog-list px-3 py-5 p-md-5">
<div class="entry" id="g16587eee-5ba4-4d0a-aad1-08fc4f7cee8b">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=shabahki">
      shabahki
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g16587eee-5ba4-4d0a-aad1-08fc4f7cee8b">
      <span class="definitionorgloss">
       <span lang="en">
        oval
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g1ce0c30e-234b-4896-b817-d438015e6778">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=hanáya">
      hanáya
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g1ce0c30e-234b-4896-b817-d438015e6778">
      <span class="definitionorgloss">
       <span lang="en">
        triangle
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g273b0a33-a1fa-4375-8cd7-c1a4ce7672d4">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=hamáya">
      hamáya
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g273b0a33-a1fa-4375-8cd7-c1a4ce7672d4">
      <span class="definitionorgloss">
       <span lang="en">
        diamond shape
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g65ca43b3-ef93-436e-82e6-13847aa1af9f">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=lo̱bo">
      lo̱bo
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g65ca43b3-ef93-436e-82e6-13847aa1af9f">
      <span class="definitionorgloss">
       <span lang="en">
        circle, sphere
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g7870cab9-ddbe-496a-a09c-9a6a99be51e7">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=chokbika oshta lapálika faláya">
      chokbika oshta lapálika faláya
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g7870cab9-ddbe-496a-a09c-9a6a99be51e7">
      <span class="definitionorgloss">
       <span lang="en">
        rectangle
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g797c8cc5-1dfd-4878-baa4-f3b338d21ea8">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=bolokta">
      bolokta
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g797c8cc5-1dfd-4878-baa4-f3b338d21ea8">
      <span class="definitionorgloss">
       <span lang="en">
        square
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g9cce69a3-6621-4bef-9351-69ea94dbff7e">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=bolokta faláya">
      bolokta faláya
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g9cce69a3-6621-4bef-9351-69ea94dbff7e">
      <span class="definitionorgloss">
       <span lang="en">
        rectangle
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="minorentrycomplex" id="ga5682f7b-4f34-48bc-8e3b-48f1efc079d0">
   <span class="headword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=aka̱koshi holba">
      aka̱koshi holba
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="ga5682f7b-4f34-48bc-8e3b-48f1efc079d0">
      <span class="definitionorgloss">
       <span lang="en">
        egg-shaped (oval)
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="gad767944-e67f-4dfe-87f1-1713076c2ef8">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=ittayokhana">
      ittayokhana
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gad767944-e67f-4dfe-87f1-1713076c2ef8">
      <span class="definitionorgloss">
       <span lang="en">
        a cross
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="gc0c372f0-df7b-40d4-8978-389f0fafca61">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=kaláhah">
      kaláhah
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gc0c372f0-df7b-40d4-8978-389f0fafca61">
      <span class="usages">
       <span class="usage">
        <span class="abbreviation">
         <span lang="en">
          older
         </span>
        </span>
       </span>
      </span>
      <span class="definitionorgloss">
       <span lang="en">
        to be round (like a ball or a circle)
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="gcb13ed26-9dbc-4053-9f29-d8a2da7e4d5f">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=ittayokshanáya">
      ittayokshanáya
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gcb13ed26-9dbc-4053-9f29-d8a2da7e4d5f">
      <span class="definitionorgloss">
       <span lang="en">
        x-shaped cross
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="gdafcfd2f-6716-4033-9ebd-45a3fa203dd5">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=lo̱boh">
      lo̱boh
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        v
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gdafcfd2f-6716-4033-9ebd-45a3fa203dd5">
      <span class="definitionorgloss">
       <span lang="en">
        to be round, spherical
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="minorentrycomplex" id="gff70775c-c27a-40b9-b49c-490f5f3802dc">
   <span class="headword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=cho̱kash holba">
      cho̱kash holba
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gff70775c-c27a-40b9-b49c-490f5f3802dc">
      <span class="definitionorgloss">
       <span lang="en">
        heart shape
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
    </section>
</div>

{% endblock %}

{% include 'bottombar.html' %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>