
{% load static %}
{% load i18n %}



<style>
p.ex1 {
  padding-top: 10%;
}
.letHead{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}
.headword{
    font-size: 22px;
    font-weight: bold;
}
.mainheadword{
    font-size: 22px;
    font-weight: bold;
}
.definition{
    font-size: 20px;
}
.definitionorgloss{
    font-size: 20px;
}
</style>


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}MBCI Dictionary{% endblock %}</title>



</head>
<body>


{% include 'reduced_searchbar.html' %}



{% block content %}

<div class="main-wrapper">
    <section class="cta-section theme-bg-light py-5">
        <div class="container text-center">
            <h2 class="heading">{% trans "Snakes" %}</h2>

        </div><!--//container-->
    </section>




    <section class="blog-list px-3 py-5 p-md-5">
entryguid="g0da6d082-010b-4559-ba09-bf959119fcf4">
      <span class="definitionorgloss">
       <span lang="en">
        rattlesnake's rattles
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g232267e5-85d3-474d-9611-b36f6bb6934c">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=si̱ti">
      si̱ti
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g232267e5-85d3-474d-9611-b36f6bb6934c">
      <span class="definitionorgloss">
       <span lang="en">
        snake, serpent
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g2e413e5c-6c64-432b-858e-0a47561cfbeb">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=ipohchi ittimápa">
      ipohchi ittimápa
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g2e413e5c-6c64-432b-858e-0a47561cfbeb">
      <span class="definitionorgloss">
       <span lang="en">
        coachwhip snake
       </span>
      </span>
      <span class="scientificname">
       <span lang="en">
        Masticophis flagellum
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g3cab9179-9237-4de8-a216-b5591dcaa5f4">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=chokfito̱toli">
      chokfito̱toli
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g3cab9179-9237-4de8-a216-b5591dcaa5f4">
      <span class="definitionorgloss">
       <span lang="en">
        pygmy rattlesnake
       </span>
      </span>
      <span class="scientificname">
       <span lang="en">
        Sistrurus miliarius
       </span>
      </span>
     </span>
    </span>
   </span>
   <span class="variantformentrybackrefs">
    <span class="variantentrytypes">
     <span class="variantentrytype">
      <span class="abbreviation">
       <span lang="en">
        var.
       </span>
      </span>
     </span>
    </span>
    <span class="variantformentrybackref">
     <span class="headword">
      <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=chokfitohtololhi">
        chokfitohtololhi
       </a>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g412eb6e2-c25e-4fb0-be96-0b82ea78c5ad">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=chalhakwa">
      chalhakwa
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g412eb6e2-c25e-4fb0-be96-0b82ea78c5ad">
      <span class="definitionorgloss">
       <span lang="en">
        copperhead snake
       </span>
      </span>
      <span class="scientificname">
       <span lang="en">
        Agkistrodon contortrix
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g4340631b-e5b7-43ea-b9ba-e22746ecae78">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=si̱ti shawi">
      si̱ti shawi
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g4340631b-e5b7-43ea-b9ba-e22746ecae78">
      <span class="definitionorgloss">
       <span lang="en">
        rattlesnake, canebrake or timber
       </span>
      </span>
      <span class="scientificname">
       <span lang="en">
        Crotalus horridus
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g4cde9472-1c3b-45fe-8920-9adf31de8851">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=si̱toshi">
      si̱toshi
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g4cde9472-1c3b-45fe-8920-9adf31de8851">
      <span class="definitionorgloss">
       <span lang="en">
        a young snake; snake egg
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g64359f2e-b7fd-46c1-8f59-23643bc17c5c">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=si̱ti losa">
      si̱ti losa
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g64359f2e-b7fd-46c1-8f59-23643bc17c5c">
      <span class="definitionorgloss">
       <span lang="en">
        black snake, black pinesnake
       </span>
      </span>
     </span>
    </span>
   </span>
   <span class="variantformentrybackrefs">
    <span class="variantentrytypes">
     <span class="variantentrytype">
      <span class="abbreviation">
       <span lang="en">
        var.
       </span>
      </span>
     </span>
    </span>
    <span class="variantformentrybackref">
     <span class="headword">
      <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=si̱ti lo̱sa">
        si̱ti lo̱sa
       </a>
      </span>
     </span>
    </span>
    <span class="variantformentrybackref">
     <span class="headword">
      <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=si̱ti losah">
        si̱ti losah
       </a>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g69cbcd07-03a4-4cef-9270-2c6edf5d8fe1">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=chonásha">
      chonásha
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g69cbcd07-03a4-4cef-9270-2c6edf5d8fe1">
      <span class="definitionorgloss">
       <span lang="en">
        water moccasin, cottonmouth snake
       </span>
      </span>
      <span class="scientificname">
       <span lang="en">
        Agkistrodon Piscivorus
       </span>
      </span>
     </span>
    </span>
   </span>
   <span class="variantformentrybackrefs">
    <span class="variantentrytypes">
     <span class="variantentrytype">
      <span class="abbreviation">
       <span lang="en">
        var.
       </span>
      </span>
     </span>
    </span>
    <span class="variantformentrybackref">
     <span class="headword">
      <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=shawi imo̱cháha">
        shawi imo̱cháha
       </a>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g79e4398e-9008-4537-a716-6e450c273a9e">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=tiyak i̱ si̱ti">
      tiyak i̱ si̱ti
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g79e4398e-9008-4537-a716-6e450c273a9e">
      <span class="definitionorgloss">
       <span lang="en">
        eastern diamondback rattlesnake
       </span>
      </span>
      <span class="scientificname">
       <span lang="en">
        Crotalus adamanteus
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="g7fae598e-115a-493b-885e-4ffe2e7deb13">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=abaksha">
      abaksha
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="g7fae598e-115a-493b-885e-4ffe2e7deb13">
      <span class="definitionorgloss">
       <span lang="en">
        chicken snake, western rat snake
       </span>
      </span>
      <span class="scientificname">
       <span lang="en">
        Pantherophis obsoletus
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="gb2d4bc65-0fc3-43fc-8907-37fba61abbf9">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=si̱ti pohkol">
      si̱ti pohkol
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gb2d4bc65-0fc3-43fc-8907-37fba61abbf9">
      <span class="definitionorgloss">
       <span lang="en">
        eastern kingsnake
       </span>
      </span>
      <span class="scientificname">
       <span lang="en">
        Lampropeltis getula
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="gc186072a-d810-490b-98d9-3b4fcddc4d13">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=si̱tano̱sa">
      si̱tano̱sa
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gc186072a-d810-490b-98d9-3b4fcddc4d13">
      <span class="definitionorgloss">
       <span lang="en">
        black racer snake
       </span>
      </span>
      <span class="scientificname">
       <span lang="en">
        Coluber constrictor
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="gc212f8d7-d7e0-4703-a48c-0302257d04f9">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=pa̱sh takchi si̱ti">
      pa̱sh takchi si̱ti
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gc212f8d7-d7e0-4703-a48c-0302257d04f9">
      <span class="definitionorgloss">
       <span lang="en">
        Mississippi green watersnake
       </span>
      </span>
      <span class="scientificname">
       <span lang="en">
        Nerodia cyclopion
       </span>
      </span>
     </span>
    </span>
   </span>
   <span class="variantformentrybackrefs">
    <span class="variantentrytypes">
     <span class="variantentrytype">
      <span class="abbreviation">
       <span lang="en">
        var.
       </span>
      </span>
     </span>
    </span>
    <span class="variantformentrybackref">
     <span class="headword">
      <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=pa̱shafolhi">
        pa̱shafolhi
       </a>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="gca094c88-3de7-4ae8-814f-2fede5ac2a6b">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=shakchikih">
      shakchikih
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gca094c88-3de7-4ae8-814f-2fede5ac2a6b">
      <span class="definitionorgloss">
       <span lang="en">
        eastern mud snake
       </span>
      </span>
      <span class="scientificname">
       <span lang="en">
        Farancia abacura
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="gca7fd2a4-c3cc-4ab2-acba-8ba9bd519027">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=pachalhpali">
      pachalhpali
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gca7fd2a4-c3cc-4ab2-acba-8ba9bd519027">
      <span class="definitionorgloss">
       <span lang="en">
        garter snake
       </span>
      </span>
      <span class="scientificname">
       <span lang="en">
        Thamnophis sirtalis
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="minorentrycomplex" id="gd2a45d82-1aa6-43f8-abc3-194ee26fa3a9">
   <span class="headword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=si̱ti okpolo">
      si̱ti okpolo
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gd2a45d82-1aa6-43f8-abc3-194ee26fa3a9">
      <span class="definitionorgloss">
       <span lang="en">
        viper
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
  <div class="entry" id="gf73012d5-0a38-48aa-9ec4-76b26cc95828">
   <span class="mainheadword">
    <span lang="cho-x-dupl1">
<a href="http://localhost:8000/en/word?word=si̱ti basówa">
      si̱ti basówa
     </a>
    </span>
   </span>
   <span class="senses">
    <span class="sharedgrammaticalinfo">
     <span class="morphosyntaxanalysis">
      <span class="partofspeech">
       <span lang="en">
        n
       </span>
      </span>
     </span>
    </span>
    <span class="sensecontent">
     <span class="sense" entryguid="gf73012d5-0a38-48aa-9ec4-76b26cc95828">
      <span class="definitionorgloss">
       <span lang="en">
        ribbon snake, type of garter snake
       </span>
      </span>
      <span class="scientificname">
       <span lang="en">
        Thamnophis saurita
       </span>
      </span>
     </span>
    </span>
   </span>
  </div>
    </section>
</div>

{% endblock %}

{% include 'bottombar.html' %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>