
{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">


<head>
<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<script src="{% static 'assets/interviews/jquery-3.3.1.min.js' %}"></script>
<link rel = "stylesheet" type = "text/css" href = "{% static 'assets/interviews/ijal.css' %}" />
<body>

{% include 'searchbar.html' %}



    <div class="main-wrapper">
	    <section class="cta-section theme-bg-light py-5">
		    <div class="container text-center">
			    <h2 class="heading" style="font-size:48px;">{% trans "Ruth Williams and Barbara Sam Interview" %}</h2>

		    </div><!--//container-->
	    </section>
        <section>

        </section>
        </div>
{% include 'bottombar.html' %}
</body>
</html>