
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Changes name in tab -->
    <title>{% block title %}MBCI Dictionary{% endblock %}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script type="text/javascript" src="{% static 'assets/components/jquery.min.js' %}"></script>
    <script type="module" src="{% static 'assets/js/liveSearching.js' %}"></script>
    <!--<script type="module" src="{% static 'assets/js/word_script.js' %}"></script>-->
    <script type="text/javascript" src="{% static 'assets/components/bootstrap.min.js' %}"></script>


    <!--<script type="text/javascript" src="{% static 'assets/components/jquery.csv-0.71.min.js' %}"></script>-->


    <style>
* {box-sizing: border-box;}

.bg-img {
  /* The image used */
  background-image: url("{% static 'assets/images/nanih_waiya_area.JPG' %}");

  min-height: 80px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#banner{
  background: url('{% static 'assets/images/diamond_design.png' %}');
  background-repeat: repeat-x;
  background-size: 33px;
  background-position: center;
  top: 0;
  left: 0;
  height:50px;
  padding:5px;
}
.input-mysize { width: 300px }


.nav-item.dropdown.show a {
            color: white !important;
        }

        #navbarDropdown {
            color: white;
        }

</style>


</head>

<body>

{% include 'navbar.html' %}

<div class="bg-img">
<div class="container">
    <br>
    <div class="row">
        <div class="col-5">
            <img src="{% static 'assets/images/DCI_CTLP_logo.png' %}" alt="logo" width="75" height="75" style="margin: auto; display: block;">
        </div>



        <div class="col-5">
            <!---action = "word" takes the search to the word.html page-->
            <form class="container" id="choForm" action="word" autocomplete="off">
                    <div class="form-group">
                        <!---class = ".... search " calls to app.js file to do live search --->
                        <!---id ="semail" plus plus name="word" takes entry in search bar to new page with name of entry--->
                        <input type="text" name="word" id="text"  class="form-control mr-md-1 search" placeholder="Chahta áhoyoh -> English" required/>
                        <!---old code here
                        <input type="text" id="semail" name="word" class="form-control mr-md-1 semail" placeholder="Search English to Choctaw">
                        --->

                        <button type="submit" class="btn btn-success">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                        </button>

                        <button type="button" class="btn btn-outline-dark" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        {% trans "Accents" %}
                         </button>
                        <div class="collapse" id="collapseExample">

                                    <button type="button" class="btn btn-outline-dark" id="btn1">á</button>
                                  <button type="button" class="btn btn-outline-dark" id="btn2">í</button>
                                  <button type="button" class="btn btn-outline-dark" id ="btn3">ó</button>
                                  <button type="button" class="btn btn-outline-dark" id = "btn4"><u>a̱</u></button>
                                  <button type="button" class="btn btn-outline-dark" id = "btn5"><u>i̱</u></button>
                                  <button type="button" class="btn btn-outline-dark" id="btn6"><u>o̱</u></button>

                        </div>

                    </div>
            </form>
            <br>
        </div>
        <div class="col"></div>
        <!--search English to Choctaw-->
<!--            <div class="col">
                <form class="container" id="engForm" action="choword" autocomplete="off">
                    <div class="form-group">
                        &lt;!&ndash;-class = ".... search " calls to app.js file to do live search -&ndash;&gt;
                        &lt;!&ndash;-id ="semail" plus plus name="word" takes entry in search bar to new page with name of entry-&ndash;&gt;
                        <input type="text" name="choword" id="textcho"  class="form-control mr-md-1 searchcho" placeholder="Search English -> Chahta" required/>

                        <button type="submit" class="btn btn-success">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                        </button>
                    </div>
                </form>
                <br>
            </div>-->
</div>
</div>
</div>

<!---diamonds banner bar-->
<div id = "banner"></div>
<br>


</body>
</html>